---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import OfertasMenu from '../components/OfertasMenu.astro';

--- 

<Layout title="Ofertas de mi punto de venta">
	<main>
		<Header/>
		<OfertasMenu/>
	</main>
</Layout>
